//Internal scss imports
@import '../../../sass/variables';
@import '../../../sass/mixins';

.card-row{
  display: flex;
  #overview{
    margin-right: 0;
    .metadata{
      display: flex;
      .date{
        min-width: 100px;
        margin-right: 12px;
        text-align: center;
        p{
          margin: 0;
          font-size: 18px;
          font-weight: 700;
          &.dateNumber{
            font-size: 36px;
            line-height: 36px;
          }
          &.day{
            color: $eatibl-red;
          }
          &.clock{
            color: $eatibl-red;
            font-size: 18px;
          }
        }
      }
      .totals{
        display: flex;
        flex-direction: row;
        align-items: center;
        .bookings, .people{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 12px;
          position: relative;
          .new{
            position: absolute;
            height: 10px;
            width: 10px;
            right: -5px;
            top: -5px;
            border-radius: 5px;
            background-color: $eatibl-orange;
          }
          i{
            color: $grey;
            font-size: 28px;
            margin-right: 6px;
            height: 100%;
          }
          p{
            margin: 0;
            font-weight: 700;
          }
          .count{
            display: flex;
            flex-direction: row;
            align-items: center;
            p {
              font-size: 38px;
              color: $eatibl-red;
              font-weight: 700;
            }
          }
        }
        .breakdown{
          text-align: center;
          margin: 0 12px;
          p{
            font-weight: 700;
            margin: 0;
            &:first-of-type{
              font-size: 38px;
            }
          }
          &.upcoming{
            p:first-of-type{
              color: $eatibl-blue;
            }
          }
          &.completed{
            p:first-of-type{
              color: $eatibl-green;
            }
          }
          &.cancelled{
            p:first-of-type{
              color: $eatibl-orange;
            }
          }
          &.no-show{
            p:first-of-type{
              color: $eatibl-red;
            }
          }
        }
      }
    }
  }
  #editData{
    flex-grow: 1;
    display: flex;
    .date-picker{
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      ::ng-deep p-calendar{
        width: 100%;
        .ui-calendar{
          width: 100%;
          .ui-inputtext{
            width: calc(100% - 40px);
          }
        }
      }
      .date-buttons{
        margin-top: 12px;
        width: 100%;
        display: flex;
        .button-icon{
          flex-grow: 1;
          width: auto;
          &:first-of-type{
            margin-right: 6px;
          }
        }
      }
    }
    .pricing{
      width: 30%;
      display: flex;
      a{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i{
          font-size: 22px;
        }
        span{
          margin-top: 6px;
          line-height: 16px;
        }
      }
    }
  }
}
#bookingList{
  margin-top: 0;
  .card-header{
    align-items: center;
    .title, .refresh{
      width: 20%;
    }
    .filters{
      display: flex;
      flex-direction: row;
      align-items: center;
      .separator-v{
        height: 60px;
      }
      h3{
        color: $eatibl-blue;
        margin-right: 12px;
      }
      button{
        margin: 0 6px;
        &.active{
          color: #fff;
          background-color: $eatibl-blue;
        }
      }
    }
    .refresh{
      display: flex;
      justify-content: flex-end;
      button{
        margin-left: 12px;
      }
    }
  }
  .booking-items, .booking-titles{
    p{
      line-height: 40px;
    }
    .count{
      width: 5%;
    }
    .name{
      width: 20%;
    }
    .phone{
      width: 15%;
    }
    .time{
      width: 10%;
    }
    .pricing{
      width: 10%
    }
    .party{
      width: 10%;
    }
    .id{
      width: 15%;
    }
    .status{
      width: 15%;
      display: flex;
      justify-content: space-between;
      p{
        margin: 0;
        font-weight: 700;
        &.no-show{
          color: $eatibl-red;
        }
        &.cancelled{
          color: $eatibl-orange;
        }
        &.completed{
          color: $eatibl-green;
        }
        &.upcoming{
          color: $eatibl-blue;
        }
      }
    }
  }
  .booking-titles{
    h3{
      font-weight: 700;
    }
  }
  .booking-items{
    border-bottom: 1px solid darken($light-grey, 5%);
    position: relative;
    ::ng-deep .mat-list-item-content{
      padding-top: 8px;
      padding-bottom: 8px;
    }
    &:nth-of-type(odd){
      background-color: $light-grey;
    }
    .status-notify{
      height: 20px;
      border-radius: 10px;
      position: absolute;
      left: -40px;
      background-color: $eatibl-orange;
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      p{
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
        margin: 0 10px;
      }
    }
  }
}
