<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="frame overflow-scroll has-footer white-background" *ngIf="contentLoaded">
  <div class="overflow-card-wrapper">
    <div class="card">
      <div class="card-content">
        <h2>Restaurants</h2>
        <div class="restaurant" *ngFor="let restaurant of restaurants; let i = index">
          <div class="info">
            <p class="name">{{restaurant.name}}</p>
            <p class="address">{{restaurant.address}}</p>
          </div>
          <button (click)="navigateTo('restaurant/' + restaurant._id + '/bookings', restaurant.name)" class="button blue">Select</button>
        </div>
      </div>
    </div>
  </div>
</div>

