<div class="content-area">
  <main class="site-main" role="main">

    <div class="scroll-wrapper">
      <div class="frame">
        <mat-form-field>
          <input matInput type='text' (keyup)="FilterUser($event.target.value)" placeholder="Filter here" />
        </mat-form-field>
        <mat-table [dataSource]='dataSource' matSort>
          <ng-container matColumnDef='deviceId'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Device</mat-header-cell>
            <mat-cell *matCellDef="let device"><button (click)="navigateToDevice(device.deviceId)">View Log</button></mat-cell>
          </ng-container>
          <ng-container matColumnDef='platform'>
            <mat-header-cell *matHeaderCellDef mat-sort-headeer>Platform</mat-header-cell>
            <mat-cell *matCellDef="let device">{{ device.platform }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef='model'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
            <mat-cell *matCellDef="let device">{{ device.model }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef='version'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Version</mat-header-cell>
            <mat-cell *matCellDef="let device">{{ device.version }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef='eatiblVersion'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Eatibl Version</mat-header-cell>
            <mat-cell *matCellDef="let device">{{ device.eatiblVersion}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef='createdAt'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
            <mat-cell *matCellDef="let device">{{ device.createdAt}}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="50" [pageSizeOptions]="[10, 50, 100, 200]"></mat-paginator>
      </div>
    </div>
  </main>
</div>

