<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="scroll-wrapper" *ngIf="contentLoaded">
  <div class="frame">
    <div class="card">
      <div class="card-header">
        <h2>Reset Password</h2>
      </div>
      <div class="separator"></div>
      <div class="card-content">
        <form *ngIf="!response.message" id="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="submitPassword()">
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" [ngClass]="{'invalid': !resetPasswordForm.controls.newPassword.valid && (resetPasswordForm.controls.newPassword.dirty || submitAttempt)}" id="newPassword" [formControl]="resetPasswordForm.controls['newPassword']" placeholder="New Password" (input)="clearErrors()">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" [ngClass]="{'invalid': !resetPasswordForm.controls.confirmPassword.valid && (resetPasswordForm.controls.confirmPassword.dirty || submitAttempt)}" id="confirmPassword" [formControl]="resetPasswordForm.controls['confirmPassword']" placeholder="Confirm Password" (input)="clearErrors()">
          </div>
          <div class="form-error" *ngIf="(resetPasswordForm.controls.newPassword.hasError('required') && submitAttempt) || (resetPasswordForm.controls.confirmPassword.hasError('required') && submitAttempt)">
            <span>Please fill in all the fields.</span>
          </div>
          <div class="form-error" *ngIf="(resetPasswordForm.controls.confirmPassword.hasError('passwordMatch') && (resetPasswordForm.controls.confirmPassword.touched || submitAttempt))">
            <span>Passwords do not match.</span>
          </div>
          <div class="form-error" *ngIf="(resetPasswordForm.controls.newPassword.hasError('minlength') && (resetPasswordForm.controls.newPassword.touched || submitAttempt))">
            <span>Your password is too short.</span>
          </div>
          <button class="button-full blue" type="submit" [disabled]="submitted">Reset Password</button>
        </form>
        <div class="message" *ngIf="response.message == 'success'">
          <p>Password successfully reset!</p>
          <p>You can now login with your new password.</p>
        </div>
        <div class="message" *ngIf="response.message == 'expired'">
          <p>Password reset token has expired.</p>
          <p>Please request a new password reset email.</p>
          <button class="button blue" type="submit" (click)="forgotPassword()">Resend Email</button>
        </div>
      </div>
    </div>
  </div>

</div>
