<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="scroll-wrapper" *ngIf="contentLoaded">
  <div class="frame">
    <div class="card register-form">
      <div class="card-header">
        <h2>{{restaurant.name}}</h2>
      </div>
      <div class="separator"></div>
      <div class="card-content">
        <form id="registerForm" [formGroup]="registerForm" (ngSubmit)="submitRegister()">
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" [ngClass]="{'invalid': !registerForm.controls.name.valid && (registerForm.controls.name.dirty || submitAttempt)}" [formControl]="registerForm.controls['name']"  placeholder="Full Name" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" [ngClass]="{'invalid': !registerForm.controls.phone.valid && (registerForm.controls.phone.dirty || submitAttempt)}" [formControl]="registerForm.controls['phone']" placeholder="Phone Number">
          </div>
          <div class="form-group">
            <label for="newEmail">Email</label>
            <input type="email" class="form-control" id="newEmail" [ngClass]="{'invalid': !registerForm.controls.email.valid && (registerForm.controls.email.dirty || submitAttempt)}" [formControl]="registerForm.controls['email']" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="newPassword">Password</label>
            <input type="password" class="form-control" id="newPassword" [ngClass]="{'invalid': !registerForm.controls.password.valid && (registerForm.controls.password.dirty || submitAttempt)}" [formControl]="registerForm.controls['password']" placeholder="Password" required>
          </div>
          <div class="form-error" *ngIf="((registerForm.controls.name.hasError('required') && registerForm.controls.name.touched) || (registerForm.controls.phone.hasError('required') && registerForm.controls.phone.touched) || (registerForm.controls.email.hasError('required') && registerForm.controls.email.touched) || (registerForm.controls.password.hasError('required') && registerForm.controls.password.touched)) && submitAttempt">
            <span>Please fill in all the fields.</span>
          </div>
          <div class="form-error" *ngIf="(registerForm.controls.phone.hasError('pattern') && (registerForm.controls.phone.dirty || submitAttempt))">
            <span>Please enter a valid phone number.</span>
          </div>
          <div class="form-error" *ngIf="(registerForm.controls.email.hasError('pattern') && (registerForm.controls.email.dirty || submitAttempt))">
            <span>Please enter a valid email.</span>
          </div>
          <div class="form-error" *ngIf="(!registerForm.controls.password.valid && (registerForm.controls.password.dirty && submitAttempt))">
            <span>Your password is too short.</span>
          </div>
          <div class="form-error" *ngIf="emailTaken && submitAttempt">
            <span>That email is taken.</span>
          </div>
          <div class="form-error" *ngIf="registerError && submitAttempt">
            <span>There was an error creating this account. Please try again.</span>
          </div>
          <button class="button-full blue" type="submit" [disabled]="submitted">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
