//Custom Mat Palettes
$mat-eatibl-red: (
  50: #fce6e9,
  100: #f9c0c8,
  200: #f596a4,
  300: #f06c80,
  400: #ed4d64,
  500: #ea2d49,
  600: #e72842,
  700: #e42239,
  800: #e11c31,
  900: #db1121,
  A100: #ffffff,
  A200: #ffd5d8,
  A400: #ffa2a8,
  A700: #ff8990,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$mat-eatibl-blue: (
  50: #e5ecf4,
  100: #bfd0e3,
  200: #95b0d1,
  300: #6a90be,
  400: #4a79b0,
  500: #2a61a2,
  600: #25599a,
  700: #1f4f90,
  800: #194586,
  900: #0f3375,
  A100: #a8c3ff,
  A200: #75a0ff,
  A400: #427dff,
  A700: #296cff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$mat-eatibl-orange: (
  50: #fef2e6,
  100: #fddfc1,
  200: #fcc998,
  300: #fab36e,
  400: #f9a34f,
  500: #f89330,
  600: #f78b2b,
  700: #f68024,
  800: #f5761e,
  900: #f36413,
  A100: #ffffff,
  A200: #fff3ee,
  A400: #ffd1bb,
  A700: #ffc0a1,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);
