//Third party css imports
@import "~nouislider/distribute/nouislider.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~primeng/resources/primeng.min.css";
@import "eatibl-theme";

//Fonts
@font-face {
  font-family: "Quicksand Regular";
  src: url("/assets/fonts/Quicksand-Regular.ttf") format("ttf");
}

//Internal scss imports
@import './variables';
@import './mixins';

//General styling
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
body{
  background-color: $light-grey;
  margin: 0;
}

a{
  text-decoration: none;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
}

p, h2, h4, a, button{
  font-family: "Quicksand Regular";
  color: $dark-grey;
}

h2, h4{
  margin: 0;
  color: $eatibl-red;
}

//Remove spinner from input type number
/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//Elements
.separator{
  margin: 12px 0;
  border-top: 1px solid darken($light-grey, 5%);
  width: 100%;
}

.separator-v{
  margin: 0 12px;
  border-right: 1px solid darken($light-grey, 5%);
  height: 100%;
}

nouislider{
  .noUi-target{
    .noUi-base{
      .noUi-origin{
        .noUi-handle{
          width: 30px;
          height: 30px;
          border-radius: 15px;
          top: -8px;
          left: -15px;
          outline: none;
          &:before{
            content: none;
          }
          &:after{
            content: none;
          }
          .noUi-tooltip{
            font-family: "Quicksand Regular";
            outline: none;
          }
        }
      }
      .noUi-connect{
        background: $eatibl-blue;
      }
    }
    .noUi-pips-horizontal{
      height: 20px;
    }
    .noUi-pips-vertical{
      .noUi-value{
        font-family: "Quicksand Regular";
      }
    }
  }
  .noUi-vertical{
    height: 100%;
    .noUi-handle{
      left: -7px !important;
      top: -16px !important;
    }
  }
}

.loading-content{
  padding-top: 100px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

p-progressspinner{
  max-height: 40px;
  .ui-progress-spinner{
    width: 40px;
    height: 40px;
  }
  &.content-loading{
    max-height: 100px;
    .ui-progress-spinner{
      width: 100px;
      height: 100px;
    }
  }
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
    stroke: $eatibl-red;
  }
  25% {
    stroke: $eatibl-blue;
  }
  50% {
    stroke: $eatibl-red;
  }
  70% {
    stroke: $eatibl-blue;
  }
}

//General use classes
.button{
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 3px;
  background-color: $eatibl-red;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button-small{
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 3px;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button-mini{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button-full{
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button, .button-small, .button-icon, .button-mini, .button-full{
  &.red{
    background-color: $eatibl-red;
  }
  &.blue{
    background-color: $eatibl-blue;
  }
  &.white{
    background-color: #fff;
    color: $eatibl-red;
  }
  &:disabled, &[disabled]{
    box-shadow: none;
    color: $dark-grey;
    background-color: darken($light-grey, 10%);
    pointer-events: none;
  }
}
.icon-padding{
  padding-right: 5px;
}

//Form Styling
form{
  .form-group{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    label{
      color: $eatibl-red;
      font-family: "Quicksand Regular";
      margin-bottom: 6px;
    }
    input, textarea{
      font-family: "Quicksand Regular";
      padding: 6px;
    }
    .radio-group{
      font-family: "Quicksand Regular";
      height: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      input[type=radio]{
        font-family: "Quicksand Regular";
        &:not(:first-of-type){
          margin-left: 12px;
        }
      }
    }
  }
}

//Layout
.frame{
  width: 1400px;
  height: 100%;
  padding: 80px 30px 0 30px;
  margin: 0 auto;
  @media (max-width: 1599px) {
    width: 1200px;
  }
  @media (max-width: 1199px) {
    width: 992px;
  }
  @media (max-width: 991px) {
    width: 600px;
  }
  @media(max-width: 599px) {
    width: 100%;
  }
  &.overflow-scroll{
    width: auto;
    padding: 80px 16px 0 16px;
    display: inline-block;
    text-align: center;
    min-width: 100vw;
    .card{
      display: inline-block;
    }
  }
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.card{
  background-color: #fff;
  border-radius: 2px;
  width: auto;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button{
      margin-left: 12px;
    }
  }
}
