<div class="dialog">
  <form [formGroup]="termsForm" id="termsForm" (ngSubmit)="submitForm()">
    <h3 mat-dialog-title>EATIBL PARTNERSHIP AGREEMENT</h3>
    <div mat-dialog-content>
      <p>As an authorized decision maker, I agree to the terms below as a part of my partnership with Eatibl Inc.</p>
      <div class="separator"></div>
      <div class="checkbox-list">
        <label class="container" [ngClass]="{'disabled': agreed}"> <span class="number">1.</span>Making a menu, imagery and contact details available for customers to view.
          <input type="checkbox" class="form-control" id="terms1" [formControl]="termsForm.controls['terms1']">
          <span class="checkmark"></span>
        </label>
        <label class="container" [ngClass]="{'disabled': agreed}"><span class="number">2.</span>Taking and fulfilling all customer reservations made on Eatibl’s online properties.
          <input type="checkbox" class="form-control" id="terms2" [formControl]="termsForm.controls['terms2']">
          <span class="checkmark"></span>
        </label>
        <label class="container" [ngClass]="{'disabled': agreed}"><span class="number">3.</span>Maintain presence within Eatibl’s online properties for a minimum period of 3 months.
          <input type="checkbox" class="form-control" id="terms3" [formControl]="termsForm.controls['terms3']">
          <span class="checkmark"></span>
        </label>
        <label class="container" [ngClass]="{'disabled': agreed}"><span class="number">4.</span>Provide full rights to Eatibl with regards to advertising all of the Restaurant’s properties, brands imagery, menus and products directly to users of the Eatibl platform.
          <input type="checkbox" class="form-control" id="terms4" [formControl]="termsForm.controls['terms4']">
          <span class="checkmark"></span>
        </label>
        <label class="container" [ngClass]="{'disabled': agreed}"><span class="number">5.</span>To indemnify, defend and hold harmless Eatibl, Eatibl's affiliates and representatives, as well
          as Eatibl's directors, officers, employees and agents against any liability that Eatibl may suffer or incur as a result of your conduct, activity or misuse of Eatibl's services and the Eatibl application.
          <input type="checkbox" class="form-control" id="terms5" [formControl]="termsForm.controls['terms5']">
          <span class="checkmark"></span>
        </label>
        <label class="container" [ngClass]="{'disabled': agreed}">
          <input type="checkbox" class="form-control" id="terms6" [formControl]="termsForm.controls['terms6']" (change)="feeValidator()">
          <span class="number">6.</span>Pay $ <input type="number" class="form-control" id="fee" [formControl]="termsForm.controls['fee']"> CAD Flat Fee per customer that fulfills a reservation through Eatibl’s platform.
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="dialog-actions" mat-dialog-actions>
      <div class="form-error" *ngIf="(termsForm.controls['fee'].hasError('needsFee') && submitAttempt)">
        <span>Fill in a fee or uncheck terms item 6.</span>
      </div>
      <div class="form-error" *ngIf="(patternError && submitAttempt)">
        <span>Must agree to terms 1 through 5.</span>
      </div>
      <button *ngIf="!agreed" class="button blue" type="submit">Agree</button>
      <button *ngIf="!agreed" class="button white" type="button" (click)="dialogRef.close(false)">Decline</button>
      <button *ngIf="agreed" class="button white" type="button" (click)="dialogRef.close(false)">Close</button>
    </div>
  </form>
</div>
