<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="scroll-wrapper has-footer" *ngIf="contentLoaded">
  <mat-tab-group>
    <mat-tab label="Details">
      <div class="frame">
        <div class="card">
        <div class="card-header">
          <h2>{{action}} Restaurant</h2>
        </div>
        <div class="separator"></div>
        <form>
          <div class="form-cluster">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="restaurant.name" required>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Address" [(ngModel)]="restaurant.address" required>
            </div>
            <div class="form-group">
              <label>Price</label>
              <div class="radio-group">
                <input type="radio" name="price" [value]="1" [(ngModel)]="restaurant.price"> $
                <input type="radio" name="price" [value]="2" [(ngModel)]="restaurant.price"> $$
                <input type="radio" name="price" [value]="3" [(ngModel)]="restaurant.price"> $$$
                <input type="radio" name="price" [value]="4" [(ngModel)]="restaurant.price"> $$$$
              </div>
            </div>
          </div>
          <div class="form-cluster">
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" name="city" placeholder="City" [(ngModel)]="restaurant.city" required>
            </div>
            <div class="form-group">
              <label for="state">Province</label>
              <input type="text" class="form-control" id="state" name="state" placeholder="Province" [(ngModel)]="restaurant.state" required>
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control" id="country" name="country" placeholder="Country" [(ngModel)]="restaurant.country" required>
            </div>
          </div>
          <div class="form-cluster">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" name="description" placeholder="Description" [(ngModel)]="restaurant.description" required></textarea>
            </div>
          </div>
          <div class="form-cluster">
            <div class="form-group">
              <label for="discountDetails">Discount Details</label>
              <textarea class="form-control" id="discountDetails" name="discountDetails" placeholder="Discount Details" [(ngModel)]="restaurant.discountDetails" required></textarea>
            </div>
            <div class="flex-row">
              <div class="form-group">
                <label>
                  <input type="checkbox" name="dineIn" [(ngModel)]="restaurant.dineIn">
                  Dine In
                </label>
              </div>
              <div class="form-group">
                <label>
                  <input type="checkbox" name="takeOut" [(ngModel)]="restaurant.takeOut">
                  Take Out
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    </mat-tab>
    <mat-tab label="Recommended Items">
      <div class="frame flex">
        <div class="card">
          <div class="card-header">
            <h2>Recommended Items</h2>
            <button class="button blue" (click)="addMenuItem()"><i class="fa fa-plus icon-padding" aria-hidden="true"></i>Add</button>
          </div>
          <div class="menu-item-list" *ngFor="let item of restaurant.recommendedItems; let i = index">
            <div class="separator"></div>
            <form>
              <div class="form-group">
                <label>Menu Item</label>
                <input type="text" class="form-control" name="item" placeholder="Menu Item" [(ngModel)]="item.item" required>
              </div>
              <div class="form-group price">
                <label>Price</label>
                <input type="number" class="form-control" name="price" placeholder="Price" [(ngModel)]="item.price" required>
                <i class="fa fa-usd" aria-hidden="true"></i>
              </div>
              <button class="button-icon red" (click)="removeMenuItem(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Images">
      <div class="frame flex">
        <div class="card">
          <div class="card-header">
            <!--<h2>Images</h2>-->
            <div class="form-group">
              <label>Name</label>
              <input type="file" name = "fileField" ng2FileSelect [uploader]="uploader" multiple /><br/>
            </div>

            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
              <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="btn btn-warning btn-xs"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                  </button>
                  <button type="button" class="btn btn-danger btn-xs"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

            <div>
              <div>
                Queue progress:
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
              <button type="button" class="btn btn-success btn-s"
                      (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
              </button>
              <button type="button" class="btn btn-warning btn-s"
                      (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
              </button>
              <button type="button" class="btn btn-danger btn-s"
                      (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
              </button>
            </div>

          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Contacts">
      <div class="frame">
        <div class="card">
          <div class="card-header">
            <h2>Contacts</h2>
            <button class="button blue" (click)="addContact()"><i class="fa fa-plus icon-padding" aria-hidden="true"></i>Add</button>
          </div>
          <div class="contact-list" *ngFor="let contact of restaurant.contacts; let i = index">
            <div class="separator"></div>
            <form>
              <div class="form-cluster">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="contact.name" required>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="contact.email" required>
                </div>
              </div>
              <div class="form-cluster">
                <div class="form-group">
                  <label>Position</label>
                  <input type="text" class="form-control" name="position" placeholder="Position" [(ngModel)]="contact.position" required>
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control" name="phone" placeholder="Phone Number" [(ngModel)]="contact.phone" required>
                </div>
              </div>
              <div class="form-cluster textarea-group">
                <div class="form-group">
                  <label>Notes</label>
                  <textarea class="form-control" name="notes" placeholder="Notes" [(ngModel)]="contact.notes" required></textarea>
                </div>
                <button class="button-icon red" (click)="removeContact(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div id="footer">
  <a href="/" class="button blue"><i class="fa fa-arrow-left icon-padding" aria-hidden="true"></i>Back</a>
  <div class="flex-row">
    <p-progressSpinner strokeWidth="8" *ngIf="submitted"></p-progressSpinner>
    <button class="button blue" (click)="submitRestaurant()" [disabled]="submitted">Submit</button>
  </div>
</div>
