<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="scroll-wrapper has-footer" *ngIf="contentLoaded">
  <mat-tab-group [selectedIndex]="selectedTab" [ngClass]="{'hide' : userData.type == 'Restaurant'}">
    <mat-tab label="Import From Google" *ngIf="userData.type == 'Admin'">
      <div class="frame flex">
        <div class="card import">
          <div class="card-header">
            <h2>Import From Google</h2>
          </div>
          <div class="separator"></div>
          <div class="card-content">
            <form>
              <div class="form-inputs">
                <div class="search-wrapper">
                  <div class="form-group">
                    <label>Search for Restaurant</label>
                    <input placeholder="Enter restaurant name" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="googleForm.controls['search']">
                  </div>
                  <button type="button" class="button blue" (click)="import()" [disabled]="googleImport.name == null">
                    <i class="fa fa-download icon-padding" aria-hidden="true"></i> Import
                  </button>
                </div>
                <agm-map [latitude]="mapOptions?.latitude" [longitude]="mapOptions?.longitude" [scrollwheel]="false" [zoom]="mapOptions?.zoom">
                  <agm-marker [latitude]="mapOptions?.latitude" [longitude]="mapOptions?.longitude"></agm-marker>
                </agm-map>
              </div>
            </form>
          </div>
          <div class="card-actions">
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Details" *ngIf="userData.type == 'Admin'">
      <div class="frame">
        <div class="card">
        <div class="card-header">
          <h2>{{action}} Restaurant</h2>
        </div>
        <div class="separator"></div>
        <form>
          <div class="form-left">
            <div class="form-cluster">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="restaurant.name" (ngModelChange)="onChanges()" required>
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address" [(ngModel)]="restaurant.address" (ngModelChange)="onChanges()" required>
              </div>
              <div class="form-group">
                <label>Price</label>
                <div class="radio-group">
                  <input type="radio" name="price" [value]="1" [(ngModel)]="restaurant.price" (ngModelChange)="onChanges()"> $
                  <input type="radio" name="price" [value]="2" [(ngModel)]="restaurant.price" (ngModelChange)="onChanges()"> $$
                  <input type="radio" name="price" [value]="3" [(ngModel)]="restaurant.price" (ngModelChange)="onChanges()"> $$$
                  <input type="radio" name="price" [value]="4" [(ngModel)]="restaurant.price" (ngModelChange)="onChanges()"> $$$$
                </div>
              </div>
            </div>
            <div class="form-cluster">
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="City" [(ngModel)]="restaurant.city" (ngModelChange)="onChanges()" required>
              </div>
              <div class="form-group">
                <label for="state">Province</label>
                <input type="text" class="form-control" id="state" name="state" placeholder="Province" [(ngModel)]="restaurant.state" (ngModelChange)="onChanges()" required>
              </div>
              <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Country" [(ngModel)]="restaurant.country" (ngModelChange)="onChanges()" required>
              </div>
            </div>
            <div class="form-cluster full">
              <div class="form-group">
                <label>Categories</label>
                <p-autoComplete [(ngModel)]="restaurant.categories" name="category" [suggestions]="filteredCategories" (onSelect)="onChanges()" (onUnselect)="onChanges()" (completeMethod)="filterCategories($event)" [size]="30"
                                [minLength]="1" placeholder="Categories" [dropdown]="true" [multiple]="true">
                </p-autoComplete>
              </div>
            </div>
          </div>
          <div class="form-right">
            <div class="form-cluster">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" placeholder="Description" [(ngModel)]="restaurant.description" (ngModelChange)="onChanges()" required></textarea>
              </div>
            </div>
            <div class="form-cluster">
              <div class="form-group">
                <label for="discountDetails">Discount Details</label>
                <textarea class="form-control" id="discountDetails" name="discountDetails" placeholder="Discount Details" [(ngModel)]="restaurant.discountDetails" (ngModelChange)="onChanges()" required></textarea>
              </div>
              <div class="flex-row">
                <div class="form-group">
                  <label>
                    <input type="checkbox" name="dineIn" [(ngModel)]="restaurant.dineIn">
                    Dine In
                  </label>
                </div>
                <div class="form-group">
                  <label>
                    <input type="checkbox" name="takeOut" [(ngModel)]="restaurant.takeOut">
                    Take Out
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    </mat-tab>
    <mat-tab label="Recommended Items">
      <div class="frame flex">
        <div class="card">
          <div class="card-header">
            <h2>Recommended Items</h2>
            <button class="button blue" (click)="addMenuItem()"><i class="fa fa-plus icon-padding" aria-hidden="true"></i>Add</button>
          </div>
          <div class="menu-item-list" *ngFor="let item of restaurant.recommendedItems; let i = index">
            <div class="separator"></div>
            <form>
              <div class="form-inputs">
                <div class="form-group">
                  <label>Menu Item</label>
                  <input type="text" class="form-control" name="item" placeholder="Menu Item" [(ngModel)]="item.item" (ngModelChange)="onChanges()" required>
                </div>
                <div class="form-group price">
                  <label>Price</label>
                  <input type="number" class="form-control" name="price" placeholder="Price" [(ngModel)]="item.price" (ngModelChange)="onChanges()" required>
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <div class="form-group desc">
                  <label>Description</label>
                  <textarea class="form-control" name="description" placeholder="Description (ingredients, etc.)" [(ngModel)]="item.description" (ngModelChange)="onChanges()" required></textarea>
                </div>
              </div>
              <button class="button-icon red" (click)="removeMenuItem(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Images">
      <div class="frame flex column">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-content">
            <div class="file-drop">
              <div class="form-group file-container">
                <div class="button blue">Click Here</div>
                <p>or</p>
                <p>Drop Files</p>
                <input type="file" name = "fileField" ng2FileSelect [uploader]="uploader" multiple /><br/>
              </div>
            </div>
            <div class="file-list">
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td>{{ item?.file?.name }}</td>
                    <td nowrap>
                      <button type="button" class="button-icon red" (click)="item.remove()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="separator"></div>
          <div class="card-actions">
            <div class="progress" *ngIf="uploader.progress != 0">
              <p-progressSpinner *ngIf="uploader.progress < 100 && uploader.progress != 0" strokeWidth="4"></p-progressSpinner>
              <p class="uploading" *ngIf="uploader.progress < 100 && uploader.progress != 0">{{uploader.progress}} %</p>
              <p class="uploaded" *ngIf="uploader.progress == 100">Uploaded</p>
            </div>
            <button type="button" class="button blue" (click)="uploadImages()" [disabled]="!uploader.getNotUploadedItems().length">
              <i class="fa fa-check icon-padding" aria-hidden="true"></i> Upload all
            </button>
            <button type="button" class="button red" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <i class="fa fa-times icon-padding" aria-hidden="true"></i> Remove all
            </button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2>Images</h2>
          </div>
          <div class="separator"></div>
          <form class="card-content image-list">
            <div class="image-box" *ngFor="let image of restaurant.images; let i = index">
              <div class="image" [ngStyle]="{'background-image': 'url(/api/files/' + image + ')'}" (click)="toggleActive($event)">
                <input type="radio" name="featured" [value]="image" (click)="setFeaturedImage(image)" [checked]="restaurant.featuredImage == image">
                <button class="button-icon white" (click)="deleteImage(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Contacts" *ngIf="userData.type == 'Admin'">
      <div class="frame">
        <div class="card">
          <div class="card-header">
            <h2>Contacts</h2>
            <button class="button blue" (click)="addContact()"><i class="fa fa-plus icon-padding" aria-hidden="true"></i>Add</button>
          </div>
          <div class="contact-list" *ngFor="let contact of restaurant.contacts; let i = index">
            <div class="separator"></div>
            <form>
              <div class="form-cluster">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="contact.name" (ngModelChange)="onChanges()" required>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="contact.email" (ngModelChange)="onChanges()" required>
                </div>
              </div>
              <div class="form-cluster">
                <div class="form-group">
                  <label>Position</label>
                  <input type="text" class="form-control" name="position" placeholder="Position" [(ngModel)]="contact.position" (ngModelChange)="onChanges()" required>
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control" name="phone" placeholder="Phone Number" [(ngModel)]="contact.phone" (ngModelChange)="onChanges()" required>
                </div>
              </div>
              <div class="form-cluster textarea-group">
                <div class="form-group">
                  <label>Notes</label>
                  <textarea class="form-control" name="notes" placeholder="Notes" [(ngModel)]="contact.notes" (ngModelChange)="onChanges()" required></textarea>
                </div>
                <button class="button-icon red" (click)="removeContact(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div id="footer">
  <div class="footer-left">
    <button class="button blue" (click)="prevPage()"><i class="fa fa-arrow-left icon-padding" aria-hidden="true"></i>Back</button>
  </div>
  <div class="footer-center">
    <button *ngIf="userData.type == 'Admin'" class="button green" (click)="termsDialog(restaurant)">Terms of Agreement</button>
  </div>
  <div class="footer-right">
    <p-progressSpinner strokeWidth="8" *ngIf="submitted"></p-progressSpinner>
    <button class="button blue margin-right margin-left" (click)="submitRestaurant()" [disabled]="restaurantSaved || !restaurant.hasOwnProperty('name') || submitted">Save</button>
    <button *ngIf="userData.type == 'Admin'" class="button blue" (click)="nextPage()" [disabled]="!restaurantId">Next<i class="fa fa-arrow-right icon-padding-left" aria-hidden="true"></i></button>
  </div>
</div>
