<div class="content-area">
  <main class="site-main" role="main">

    <div class="scroll-wrapper">
      <div class="analytics-buttons">
        <h3>Table of Contents</h3>
        <button class="button blue" (click)="navigateTo('analytics/restaurants')">Restaurant Statistics</button>
        <button class="button blue" (click)="navigateTo('analytics/bookings')">Bookings</button>
        <button class="button blue" (click)="navigateTo('analytics/users')">User Details</button>
        <button class="button blue" (click)="navigateTo('analytics/map')">Heatmap</button>
        <button class="button blue" (click)="navigateTo('analytics/devices')">Unique Devices</button>
        <button class="button blue" (click)="navigateTo('analytics/users/recentLog')">Recent Activity Log</button>
      </div>
    </div>
  </main>
</div>

