//Imports
@import '~sass/variables';

//Styling
.card{
  display: flex;
  flex-direction: column;
  width: auto;
  .row-titles{
    display: flex;
    flex-direction: column;
    width: 10%;
    .title{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 10%;
      &:first-of-type{
        height: 63%;
      }
      &:last-of-type{
        height: 25%;
      }
    }
  }
  .discount-group{
    //margin-right: 48px;
    //margin-left: 24px;
    padding: 0 16px 16px 16px;
    .discount-scroll-wrapper{
      height: 340px;
      display: flex;
      flex-direction: row;
      width: 100%;
      .discount-slider{
        padding: 0 6px;
        width: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .time{
          white-space: nowrap;
        }
        nouislider{
          height: 100%;
          .noUi-vertical{
            .noUi-target{
              .noUi-base{
                .noUi-origin{
                  .noUi-handle{
                    .noUi-tooltip{
                      top: -70%;
                      right: auto;
                    }
                  }
                }
              }
            }
          }
        }
        input{
          text-align: center;
          width: 30px;
          height: 30px;
          font-family: "Quicksand Regular";
          font-size: 16px;
          margin: 6px 0;
          border-radius: 3px;
          border: 1px solid $grey;
          outline: none;
        }
      }
    }
  }
}
