//Imports
@import '~sass/variables';

//Styling
.hour-slider{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  p{
    width: 100px;
    margin-right: 16px;
  }
  nouislider{
    width: 100%;
  }
}

.confirm{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
