//Imports
@import '~sass/variables';

//Styling
.slider-group{
  padding: 0 32px 0 16px;
  .hour-slider{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    p{
      width: 100px;
      margin-right: 16px;
    }
    nouislider{
      width: 100%;
    }
  }
}
