<div class="frame" [ngClass]="{'content-loading': !contentLoaded}">
  <p-progressSpinner class="content-loading" strokeWidth="4" *ngIf="!contentLoaded"></p-progressSpinner>
  <div class="card" *ngIf="contentLoaded">
    <h2>Business Hours</h2>
    <div class="separator"></div>
    <div class="slider-group">
      <div class="hour-slider" *ngFor="let day of businessHours; let i = index">
        <p>{{day.day}}</p>
        <nouislider [config]="rangeConfig" [(ngModel)]="businessHoursArray[i]"></nouislider>
      </div>

      <div class="separator"></div>
      <div class="card-footer">
        <p-progressSpinner strokeWidth="8" *ngIf="submitted"></p-progressSpinner>
        <button class="button blue" (click)="submitHours()"  [disabled]="submitted">Submit</button>
      </div>
    </div>
  </div>
</div>
