<div class="frame">
  <div class="card">
    <h2>Business Hours</h2>
    <div class="separator"></div>
    <div class="hour-slider">
      <p>Monday</p>
      <nouislider [config]="rangeConfig" [(ngModel)]="businessHours[0]"></nouislider>
    </div>
    <div class="hour-slider">
      <p>Tuesday</p>
      <nouislider [config]="rangeConfig" [(ngModel)]="businessHours[1]"></nouislider>
    </div>
    <div class="hour-slider">
      <p>Wednesday</p>
      <nouislider [config]="rangeConfig" [(ngModel)]="businessHours[2]"></nouislider>
    </div>
    <div class="hour-slider">
      <p>Thursday</p>
      <nouislider [config]="rangeConfig" [(ngModel)]="businessHours[3]"></nouislider>
    </div>
    <div class="hour-slider">
      <p>Friday</p>
      <nouislider [config]="rangeConfig" [(ngModel)]="businessHours[4]"></nouislider>
    </div>
    <div class="hour-slider">
      <p>Saturday</p>
      <nouislider [config]="rangeConfig" [(ngModel)]="businessHours[5]"></nouislider>
    </div>
    <div class="hour-slider">
      <p>Sunday</p>
      <nouislider [config]="rangeConfig" [(ngModel)]="businessHours[6]"></nouislider>
    </div>
    <div class="separator"></div>
    <div class="confirm">
      <button class="button blue" (click)="submitHours()">Submit</button>
    </div>
  </div>
</div>
