<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="scroll-wrapper" *ngIf="contentLoaded">
  <div class="frame">
    <div class="card">
      <div class="card-header">
        <h2>Login</h2>
      </div>
      <div class="separator"></div>
      <div class="card-content">
        <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [ngClass]="{'invalid': !loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)}" id="email" [formControl]="loginForm.controls['email']" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [ngClass]="{'invalid': !loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)}" id="password" [formControl]="loginForm.controls['password']" placeholder="Password" required>
          </div>
          <div class="form-error" *ngIf="(loginForm.controls.email.hasError('required') && submitAttempt) || (loginForm.controls.password.hasError('required') && submitAttempt)">
            <span>Please fill in all the fields.</span>
          </div>
          <div class="form-error" *ngIf="badInput">
            <span>Email and password combination not found.</span>
          </div>
          <button class="button-full blue" type="submit" [disabled]="submitted">Login</button>
        </form>
        <p class="forgot-password" (click)="forgotPassword()">Forgot password?</p>
      </div>
    </div>
  </div>
</div>
