@import '../../../sass/variables';

.top-section{
  padding: 20px;
  div{
    font-family:Quicksand;
    font-size:14px;
    padding:5px;
  }
}
button{
  width:150px;
  height:40px;
  background-color: $eatibl-blue;
  color:white;
}

agm-map{
  height: 100%;
  width: 100%;
}
