<div class="content-area">
  <main class="site-main" role="main">

    <div class="scroll-wrapper">

      <div class = 'top-section'>
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar>
        <button (click)="createHeatMap(currentMap)" >Update Data</button>
        <div *ngIf="resultArray">Data Points: {{resultArray.length}}</div>
      </div>

      <agm-map [latitude]="mapOptions?.latitude" [longitude]="mapOptions?.longitude" [scrollwheel]="false" [zoom]="mapOptions?.zoom" (mapReady) = "createHeatMap($event)"></agm-map>
    </div>
  </main>
</div>

