<div class="content-area">
  <main class="site-main" role="main">

    <div class="scroll-wrapper">
      <div class="frame">

        <p-dropdown [options]="days" [(ngModel)]="weekday" (onChange)="dailyResult(weekday)"></p-dropdown>

        <div class="chart-wrapper">
          <div class="chart">
            <canvas *ngIf = "lineChartData"
                    baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

