.card{
  height: 200px;
  display: flex;
  flex-direction: row;
  .day{
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      margin-bottom: 12px;
      text-align: center;
    }
  }
  p-chart{
    width: 100%;
  }
}
