<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="scroll-wrapper has-footer" *ngIf="contentLoaded">
  <div class="frame">
    <div *ngFor="let day of discountArray; let i = index">
      <div class="card" *ngIf="businessHours[i].open != businessHours[i].close">
        <div class="day">
          <h2>{{day.day}}</h2>
          <a href="{{restaurantId}}/pricing/{{day.day}}" class="button blue">Edit</a>
        </div>
        <div class="separator-v"></div>
        <p-chart type="bar" height="200" [data]="graph[i].data" [options]="graph[i].options"></p-chart>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <a href="{{restaurantId}}/keyHours" class="button blue"><i class="fa fa-arrow-left icon-padding" aria-hidden="true"></i>Back</a>
</div>
