.header-left{
  display: flex;
  align-items: center;
  p{
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #fff;
  }
}

.home-button{
  background: none;
}

.header-right{
  display: flex;
  align-items: center;
  p{
    color: #fff;
    margin-right: 10px;
  }
}
