<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="scroll-wrapper has-footer" *ngIf="contentLoaded">
  <div class="frame">
    <div class="card">
      <div class="card-header">
        <h2>Business Hours</h2>
        <button class="button blue" (click)="open24hrs()">Open 24Hrs</button>
      </div>
      <div class="separator"></div>
      <div class="slider-group">
        <div class="hour-slider" *ngFor="let day of businessHours; let i = index">
          <p>{{day.day}}</p>
          <nouislider (end)="onChanges()" [config]="rangeConfig" [(ngModel)]="businessHoursArray[i]"></nouislider>
          <div class="copy-hours">
            <button class="button-icon blue copy-hours" (click)="copyHours(i)" [disabled]="i == 0" matTooltip="Same hours as previous day." matTooltipPosition="above" matTooltipShowDelay="500"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
          </div>
          <button class="button" [ngClass]="[businessHoursArray[i][0] == businessHoursArray[i][1] ? 'red' : 'blue']" (click)="closedToday(i)" [disabled]="submitted">{{businessHoursArray[i][0] == businessHoursArray[i][1] ? 'Closed' : 'Open'}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <button class="button blue" (click)="prevPage()"><i class="fa fa-arrow-left icon-padding" aria-hidden="true"></i>Back</button>
  <div class="flex-row">
    <p-progressSpinner strokeWidth="8" *ngIf="submitted"></p-progressSpinner>
    <button class="button blue margin-right margin-left" (click)="submitHours()" [disabled]="hoursSaved">Save</button>
    <button class="button blue" (click)="nextPage()" [disabled]="!hasHours">Next<i class="fa fa-arrow-right icon-padding-left" aria-hidden="true"></i></button>
  </div>
</div>
