//Imports
@import '~sass/variables';

//Home page variables
$red: #d8354d;
$lightred: #ea597c;
$orange: #f5a234;
$green: #24AC67;
$lightgrey: #f4f4f4;

#termsPrivacy{
  h1{
    color: #4d4d4d;
    font-family: "Quicksand";
  }
}
