.frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  .card{
    width: 400px;
    .card-header{
      justify-content: center;
    }
    .card-content{
      form{
        input{
          width: 100%;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
}
