<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="scroll-wrapper has-footer" *ngIf="contentLoaded">
  <div *ngIf="discountArray.length > 0" class="frame">
    <div *ngFor="let day of discountArray; let i = index">
      <div class="card">
        <div class="day">
          <h2>{{day.day}}</h2>
          <div class="flex-row">
            <button class="button blue" (click)="editTimeslots(day.day)">Edit</button>
            <button class="button-icon blue copy-hours" (click)="copyDiscounts(i)" [disabled]="i == 0" matTooltip="Same discounts as previous day." matTooltipPosition="above" matTooltipShowDelay="500"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="separator-v"></div>
        <p-chart #chart type="bar" height="200" [data]="graph[i].data" [options]="graph[i].options"></p-chart>
      </div>
    </div>
  </div>
  <div *ngIf="discountArray.length <= 0" class="frame no-results">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <p>There are no business hours set for this restaurant.</p>
  </div>
</div>
<div id="footer">
  <button class="button blue" (click)="prevPage()"><i class="fa fa-arrow-left icon-padding" aria-hidden="true"></i>Back</button>
</div>
