<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="scroll-wrapper">
  <div class="frame" *ngIf="contentLoaded">
    <div class="card">
      <div class="card-header">
        <h2>Restaurant List</h2>
        <a href="/restaurant/Add" class="button blue"><i class="fa fa-plus icon-padding" aria-hidden="true"></i>New</a>
      </div>
      <div class="separator"></div>
      <div class="restaurant-table">
        <div class="table-header">
          <div class="column-name">Name</div>
          <div class="column-name">Address</div>
          <div class="column-name">City</div>
          <div class="column-name">Province</div>
          <div class="column-name icon">Onboarded</div>
        </div>
        <div class="table-content">
          <div class="list-item" *ngFor="let restaurant of restaurants; let i = index">
            <div class="list-field">{{restaurant.name}}</div>
            <div class="list-field">{{restaurant.address}}</div>
            <div class="list-field">{{restaurant.city}}</div>
            <div class="list-field">{{restaurant.state}}</div>
            <div class="list-field icon"><i *ngIf="restaurant.discounts" class="fa fa-check" aria-hidden="true"></i></div>
            <div class="list-buttons">
              <button (click)="navigateTo('restaurant/' + restaurant._id + '/bookings', restaurant.name)" class="button-icon green"><i class="fa fa-cutlery" aria-hidden="true"></i></button>
              <a href="{{restaurant._id}}/Edit" class="button-icon blue"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <button class="button-icon red" (click)="deleteRestaurant(restaurant)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
