<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="scroll-wrapper">
  <div class="frame" *ngIf="contentLoaded">
    <div class="card">
      <div class="card-header">
        <div class="header-left">
          <h2>Restaurant List</h2>
        </div>
        <div class="header-center">
          <button (click)="navigateTo('bookingList', '')" class="button blue">Booking List</button>
        </div>
        <div class="header-right">
          <button (click)="addRestaurant()" class="button blue"><i class="fa fa-plus icon-padding" aria-hidden="true"></i>New</button>
        </div>
      </div>
      <div class="separator"></div>
      <div class="restaurant-table">
        <div class="table-header">
          <div class="column-name">Name</div>
          <div class="column-name">Address</div>
          <div class="column-name icon">Pricing</div>
          <div class="column-name icon">Images</div>
          <div class="column-name icon">Account</div>
          <div class="column-name icon">Active</div>
        </div>
        <div class="table-content">
          <div class="list-item" *ngFor="let restaurant of restaurants; let i = index">
            <div class="list-field">
              <button (click)="navigateTo('restaurant/' + restaurant._id + '/bookings', restaurant.name)" class="button-icon blue"><i class="fa fa-cutlery" aria-hidden="true"></i></button>
              {{restaurant.name}}
            </div>
            <div class="list-field">{{restaurant.address}}</div>
            <div class="list-field icon"><i *ngIf="restaurant.discounts" class="fa fa-check" aria-hidden="true"></i></div>
            <div class="list-field icon"><i *ngIf="restaurant.images.length" class="fa fa-check" aria-hidden="true"></i></div>
            <div class="list-field icon"><i *ngIf="users.indexOf(restaurant._id) >= 0" class="fa fa-check" aria-hidden="true"></i></div>
            <div class="list-field icon"><i *ngIf="restaurant.active" class="fa fa-check" aria-hidden="true"></i></div>
            <div class="list-buttons">
              <button class="button-icon green" (click)="navigateTo(restaurant._id + '/register', restaurant.name)"><i class="fa fa-user" aria-hidden="true"></i></button>
              <button (click)="editRestaurant(restaurant._id)" class="button-icon blue"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button class="button-icon red" (click)="deleteRestaurant(restaurant)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
