<div class="dialog forgot-password-dialog">
  <form id="emailForm" [formGroup]="emailForm" (ngSubmit)="submitEmail()">
    <h3 mat-dialog-title>Reset Password</h3>
    <div mat-dialog-content>
      <p>Please enter the email address associated with your Eatibl account.</p>
      <input type="text" id="email" [formControl]="emailForm.controls['email']" placeholder="Email">
      <div class="form-error" *ngIf="(emailForm.controls['email'].hasError('email') && submitAttempt)">
        <span>Please enter a valid email.</span>
      </div>
    </div>
    <div class="dialog-actions" mat-dialog-actions>
      <button class="button white" (click)="dialogRef.close(false)">Cancel</button>
      <button class="button blue" type="submit">Send Email</button>
    </div>
  </form>
</div>
