//Imports
@import '~sass/variables';

//Styling
.forgot-password-dialog{
  width: 360px;
  #email{
    height: 40px;
    width: 100%;
    padding: 0 6px;
    font-family: "Quicksand";
  }
  .form-error{
    font-family: "Quicksand";
    margin: 6px 0;
    text-align: left;
    color: $eatibl-orange;
  }
}
