<div id="primary" class="content-area">
  <main id="home" class="site-main" role="main">

    <!--************ Landing ************-->

    <div id="landing">
      <div class="frame flex-row">
        <div class="landing-left">
          <img class="landing-logo" src="assets/images/white-logo-large.png" alt="">
          <div class="landing-text">
            <h2>Save when you crave</h2>
            <p>With Eatibl, you can enjoy discounted dine-in meals at your favourite restaurants! Our platform enables restaurants to give you time-based discounts, so you can save up to 50% on your next meal!</p>
            <div class="badges">
              <a id="google-play-store" href="http://bit.ly/eatibl_droid"><img src="assets/images/google-play-badge.png" alt=""></a>
              <a id="app-store" href="http://bit.ly/eatibl_ios"><img src="assets/images/app-store-badge.png" alt=""></a>
            </div>
          </div>
        </div> <!-- end of landing-left -->
        <div class="landing-right">
          <div class="user-area large-screen">
            <p *ngIf = "userService.checkUser()">Hi, {{userService.getUserData().name}}</p>
            <button *ngIf = "userService.checkUser()" class="button white" (click)="navigateToApp()">Go to App</button>
            <button *ngIf = "!userService.checkUser()" class="button white" (click)="login()">Restaurant Login</button>
          </div>
          <div class="landing-right-wrapper">
            <div class="phone-wrapper">
              <div class="slide-wrapper">
                <div class="slide">
                  <img src="assets/images/app-button.png" alt="">
                </div>
              </div>
              <img class="landing-phone" src="assets/images/landing-phone.png" alt="">
            </div>

          </div>
        </div>  <!-- end of landing-right -->

        <div class="social-media">
          <a href="https://www.facebook.com/eatibl/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://twitter.com/eatiblapp" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/eatiblapp/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div> <!-- end of frame -->
    </div> <!-- end of landing -->

    <!--********* For Consumers *************-->

    <div id="users-free">
      <div class="frame flex-column">
        <div class="users-toptext">
          <h4>FOR HUNGRY PEOPLE</h4>
          <h2>Simple & Free</h2>
          <p>Make a booking in 30 seconds<br>And save up to 50%!</p>
        </div> <!-- end of users-toptext -->
        <div class="users-icons">
          <div class="icon">
            <img src="assets/images/icon-phone.png" alt="">
            <p>Download our Mobile app on your iOS and Android device</p>
          </div>
          <div class="icon">
            <img src="assets/images/icon-plate.png" alt="">
            <p>Browse through our selection of 150+ Restaurants in the GTA</p>
          </div>
          <div class="icon">
            <img src="assets/images/icon-tag.png" alt="">
            <p>Book the perfect time and place, and go enjoy your discounted meal!</p>
          </div>
        </div> <!-- end of users-icons -->
      </div> <!-- end of frame -->
    </div> <!-- end of users1 -->

    <div id="users-easy">
      <div class="frame flex-row">
        <div class="users-easy-left">
          <div class="phone-wrapper">
            <div class="slide-wrapper">
              <div class="slide">
                <img src="assets/images/mobile-screen-1.jpg" alt="">
              </div>
            </div>
            <img class="landing-phone" src="assets/images/second-phone.png" alt="">
          </div>
        </div>
        <div class="users-easy-right">
          <div class="users-easy-right-text">
            <h2>Features</h2>
              <p>100% Free to use (that's right, no strings attached)</p>
              <p>Discount applies to all regularly priced food items on the menu</p>
              <p>No account creation required for making a booking</p>
              <p>Incredibly simple and intuitive</p>
          </div>
        </div>
      </div> <!-- end of frame -->
    </div> <!-- end of users2 -->

    <div id="restauranteurs">
      <div class="frame flex-column">
        <div class="rest-toptext">
          <h4>FOR RESTAURANTEURS</h4>
          <h2>Reach more customers</h2>
          <p>Working with eatibl helps you incentivise customers to make reservations during off-peak hours. Fill those empty tables and share your delicious food with new customers!</p>
        </div> <!-- end of rest-toptext -->
        <div class="rest-main">
          <div class="rest-left">
            <div class="icon">
              <img src="assets/images/icon-clock.png" alt="">
              <p>Managing your eatibl account is a breeze. You're always in control of your discounts and the number of seats you'd like to offer.</p>
            </div>
            <div class="icon">
              <img src="assets/images/icon-desktop.png" alt="">
              <p>Keeping track of your reservations is simple and organized. With your own Eatibl account, you can view upcoming reservations and keep your business flowing.</p>
            </div>
            <div class="email-signup">
              <p>Partner with eatibl to help grow your business.</p>
              <form id="restaurantForm" action="process.php" method="POST" novalidate>
                <input id="restEmail" [(ngModel)]="email2" type="email" name="restEmail" class="tooltip" title="" placeholder="Enter your email...">
                <input *ngIf="!formTwo" id="restSubmit" (click)="emailFormSubmit('Restaurant')" value="Get Customers" class="button-home signup-button">
                <input *ngIf="formTwo" type="submit" value="Thank You!" class="button-home signup-button submitted">
              </form>
            </div> <!-- end of email-signup -->
          </div> <!-- end of rest-left -->
          <div class="rest-right">
            <div class="tablet-wrapper">
              <div class="slide-wrapper">
                <div class="slide">
                  <img src="assets/images/tablet-screen-1.jpg" alt="">
                </div>
              </div>
              <img class="rest-tablet" src="assets/images/tablet.png" alt="">
            </div>
          </div> <!-- end of rest-right -->
        </div> <!-- end of rest-main -->
      </div>
    </div> <!-- end of restauranteurs -->
    <div id="contactus">
      <div class="frame flex-column">
        <h2>Want more information?</h2>
        <form id="contactForm"  novalidate>
          <input id="inputName" [(ngModel)]="name" class="tooltip" title="" type="text" name="name" placeholder="Name">
          <input id="inputEmail" [(ngModel)]="email3" class="tooltip" title="" type="email" name="email" placeholder="Email">
          <textarea id="inputMessage" [(ngModel)]="message" class="tooltip" title="" rows="4" name="message" placeholder="Message"></textarea>
          <input *ngIf="!formThree" id="contactSubmit" (click)="emailFormSubmit('General')" value="Contact Us" class="button-home">
          <input *ngIf="formThree" type="submit" value="Thank You!" class="button-home submitted">
        </form>
        <div class="social-media">
          <a href="https://www.facebook.com/eatibl/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://twitter.com/eatiblapp
" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/eatiblapp/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="terms-privacy-button">
          <a href="/terms-privacy">Terms of Use / Privacy Policy</a>
        </div>
      </div>
    </div>
  </main>
</div>
