<div class="loading-content" *ngIf="!contentLoaded">
  <p-progressSpinner class="content-loading" strokeWidth="4"></p-progressSpinner>
</div>
<div class="frame overflow-scroll has-footer white-background" *ngIf="contentLoaded">
  <div class="overflow-card-wrapper">
    <div class="card">
      <div class="card-header">
        <h2>{{day}}</h2>
      </div>
      <div class="separator no-line"></div>
      <div class="card-content flex-row">
        <div class="discount-group">
          <div class="discount-scroll-wrapper">
            <div class="discount-slider" *ngFor="let timeslot of discounts; let i = index">
              <nouislider [config]="rangeConfig" (end)="onChanges()" [disabled]="timeslot.disabled" [ngClass]="{'no-tooltip' : (timeslot.discount == 0)}" [(ngModel)]="timeslot.discount"></nouislider>
              <div class="time">
                <p>{{(i%2 == 0) ? formatTime(timeslot.time) : '-'}}</p>
              </div>
              <button class="button-mini blue" (click)="changeQuantity(timeslot.time, 1)" [disabled]="timeslot.disabled"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
              <input class="auto-height" type="number" min="0" [(ngModel)]="timeslot.quantity" [disabled]="timeslot.disabled">
              <button class="button-mini blue" (click)="changeQuantity(timeslot.time, -1)" [disabled]="timeslot.disabled"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div id="footer">
  <button class="button blue" (click)="prevPage()"><i class="fa fa-arrow-left icon-padding" aria-hidden="true"></i>Back</button>
  <div class="footer-right">
    <p-progressSpinner strokeWidth="8" *ngIf="submitted"></p-progressSpinner>
    <button class="button blue" (click)="submitDiscounts()" [disabled]="timeslotsSaved || submitted">Save</button>
  </div>
</div>

